.DS_Store
.smex-items
.cask/
*.elc
*.swp
*~
%*%~
.org-id-locations
.smex-items
ac-comphist.dat
bookmarks
tramp
places
eshell/
auto-save-list/
emacs_autosaves/
emacs_backups/
url/
backups/
places
.python-environments/
elpa/archives/

ido.last
network-security.data
request/