.DS_Store
.smex-items
*.elc
*.swp
%*%~
.org-id-locations
.smex-items
ac-comphist.dat
bookmarks
tramp
places
auto-save-list/
emacs_autosaves/
emacs_backups/
url/
backups/
places
.python-environments/
elpa/archives/